body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans TC", Helvetica, Arial;
  margin: 12px;
  line-height: 1.6;
}

header h1, header h2 {
  padding:12px; 
  background:#eee; 
  margin-bottom:12px;
}

nav a {
  margin-right: 8px;
  text-decoration: none;
  color: #333;
}